.container {
  height: 100vh;
  width: auto;

  margin: 0;
  padding: 0;

  background-color: rgb(235, 235, 201);
}

.green-snackbar {
  background-color: green;
  color: #fff;
}

.red-snackbar {
  background-color: red;
  color: #fff;
}
