.container {
    height: 100vh;
    width: auto;

    margin: 0;
    padding: 0;

    background-color: yellow;
}

.green-snackbar {
    background-color: green;
    color: #fff;
}

.red-snackbar {
    background-color: red;
    color: #fff;
}