<div class="login">
    <ng-container >
        <form  [formGroup]="form" (ngSubmit)="Login()">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName='username'>
            </mat-form-field>
        </div>
       <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName='password'>
        </mat-form-field>
       </div>
       <button mat-raised-button type="submit" color="accent">
            <mat-spinner diameter="15" *ngIf="isLoading" ></mat-spinner>
            Log In
       </button>
    </form>
    <div *ngIf="error">
        Hubo un error en el login
    </div>
    </ng-container>
    
</div>


